<main class="px-3">
    <h1 style="text-align: center">Турфирма Гузель</h1>
    <p class="lead" style="text-align: center">Программный модуль "Турфирма Гузель" разрабатывается для туристического агентства с целью предоставления информации о турах зарубеж и внутри страны, а также горящих путевках. Модуль должен содержать сведения о скидках и льготах, дате и времени вылета/выезда и прилета/приезда, о странах/городах прилета/приезда, об отелях и свободных в них местах, а также стоимости путевок. При поступлении заявки на туры программа должна производить поиск подходящей путевки. </p>
</main>
